@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  margin: 0;
}
.containerNav{
  background-color: rgb(3, 16, 19);
  height: 90px;
  display: flex;
  align-items: center;
}
.logo{
  margin-left: 18%;
  background-image: url("logoWhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}
#search_form{
  margin-left: 5%;
  display: flex;
  width:40% ;
  align-items: center;
}
.searchdropdown{
  margin-left: 5%;
  width: 80%;
}
.searchBar{
  width: 130%;
}
input{
  padding: 10px 45px 10px 30px;
  width: 445px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  font-size: medium;
}
input:focus{
  outline:none;
}
.suggestionbox{
  background-color: rgb(240, 248, 255,.5);
  border-radius: 20px;
  z-index: 1;
  position: absolute;
}
.suggestion{
  border-radius: 20px;
  text-decoration: none;
  color: rgb(3, 16, 19);
  width: 445px;
  padding: 2%;
  padding-left: 5%;
  display: block;
  background-color: rgb(240, 248, 255,.6);
  border: 0px 0px 2px 0px solid aliceblue;
}
.suggestion:hover{
  color: red;
  background-color: rgb(3, 16, 19,.7);
}
.no-results{
  border-radius: 20px;
  text-decoration: none;
  color: rgb(3, 16, 19);
  width: 445px;
  padding: 2%;
  padding-left: 5%;
  display: block;
  background-color: rgb(240, 248, 255,.6);
  border: 0px 0px 2px 0px solid aliceblue;
}

.loginwork{
  margin-left: 5%;
  background-image: url("login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 52px;
  height: 50px;
  transition-delay: .1s;
  transition-duration: .3s;
  transition-timing-function: ease;
}
.loginwork:hover{
  margin-left: 5%;
  background-image: url("loginRed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 52px;
  height: 50px;
  transform: scale(1.1);
}

