@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.content {
  width: 80%;
  max-width: 600px; /* Example max-width for large screens */
  background-color: rgba(3, 16, 19, 0.8);
  padding: 20px;
  margin: 3% auto;
  border-radius: 20px;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.containerAddress {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-between; /* Spacing between left and right sections */
}

.containerAddress .leftContentDisplay,
.containerAddress .rightDetaisDisplay {
  flex: 1; /* Take equal space */
  padding: 10px;
  color: aliceblue;
}

.displayTags {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px; /* Increased bottom margin for more space */
}

.inputTags {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  max-width: 300px; /* Example max-width for large screens */
  height: 40px;
  border: 0;
  border-radius: 20px;
  text-align: center;
}

.btn {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; /* Added margin-bottom to create space below button */
}

.register {
  height: 38px;
  width: 150px;
  font-weight: bold;
  text-decoration: none;
  font-size: medium;
  border: 0;
  background-color: rgba(3, 16, 19, 1);
  color: aliceblue;
  border-radius: 19px;
  transition: transform 0.3s ease;
}

.register:hover {
  transform: translateY(-3px);
  color: red;
}


/* Media Query for Tablets and Mobile Phones */
@media (max-width: 768px) {
  .content {
    padding: 15px;
  }

  .containerAddress .leftContentDisplay,
  .containerAddress .rightDetaisDisplay {
    width: 100px; /* Full width on smaller screens */
    padding: 0; /* Reset padding for full width */
    margin-bottom: 10px; /* Space between sections */
  }

  .inputTags {
    min-width: 100px;
    padding: 8px 10px; /* Adjust padding for smaller screens */
  }
}
